@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600&family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

:root {
  --white: #ffffff;
  --primary: #613d2b;
  --bgsuccess: #00ff4817;
  --success: #00ff47;
  --textWarning: #ff9900;
  --textSuccess: #78a85a;
  --textDanger: #e83939;
  --textInfo: #00d1ff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* product sans alternate */
.montserrat,
.productSans {
  font-family: "Montserrat", sans-serif;
}

/* avenir alternate */
.nunito,
.avenir {
  font-family: "Nunito Sans", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.modal-login {
  max-width: 416px !important;
}
