.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #613d2b;
  margin-bottom: 20px;
}

.dataGroup {
  margin-bottom: 1.1rem;
  font-family: "Nunito Sans", sans-serif;
}

.dataTitle {
  font-weight: bold;
  font-size: 18px;
  color: #613d2b;
}

.value {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
