.hero {
  min-height: 400px;
  margin-bottom: 50px;
}

.content {
  background-color: #dbb699;
  margin-right: 75px;
}

.logo {
  width: 50%;
}

.logo,
.waves {
  width: 100%;
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.desc {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}

.container {
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 30px;
  right: 0px;
}

.image {
  width: 100%;
}
