.list {
  padding: 0.6rem 0;
  border-bottom: 2px solid var(--primary);
}

.listImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.name {
  font-family: "Nunito Sans", sans-serif;
  color: #613d2b;
  font-size: 14px;
  font-weight: bold;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-items: center;
}

.btn {
  width: 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.qty {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  width: 30px;
  height: 20px;
  background: #f6e6da;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

.price {
  color: #974a4a;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.trash:hover {
  cursor: pointer;
}
